<header>
  <img src="assets/images/LogoFin.png" alt="Logo" />
  <ul>
    <li>
      <a [routerLink]="['/veterinario']">Inicio</a>
    </li>
  </ul>
</header>

<main>
  <div class="container">
    <div id="cuadro">
      <h1 class="mb-3">Registrar Tratamiento</h1>
      <form #tratamientoForm="ngForm" (ngSubmit)="addTratamiento()">
        <div class="row mb-3">
          <label for="mascota" class="form-label">Mascota</label>
          <select
            class="form-select"
            id="mascota"
            name="mascota"
            [(ngModel)]="formConsulta.mascota"
            required
          >
            <option value="" disabled selected>Selecciona la mascota</option>
            <option *ngFor="let mascota of mascotas" [ngValue]="mascota">
              {{ mascota.nombre }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="droga">Seleccionar Droga</label>
          <select
            id="droga"
            class="form-control"
            name="droga"
            [(ngModel)]="formConsulta.droga"
            (change)="onDrogaSeleccionada($event)"
          >
            <option *ngFor="let droga of drogas" [ngValue]="droga">
              {{ droga.nombre }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="veterinario" class="form-label">Veterinario</label>
          <select
            class="form-select"
            id="veterinario"
            name="veterinario"
            [(ngModel)]="formConsulta.veterinario"
            required
          >
            <option value="" disabled selected>
              Selecciona el veterinario
            </option>
            <option
              *ngFor="let veterinario of veterinarios"
              [ngValue]="veterinario"
            >
              {{ veterinario.nombre }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="cantidad">Cantidad</label>
          <select
            id="cantidad"
            class="form-control"
            name="cantidad"
            [(ngModel)]="formConsulta.cantidad"
            [disabled]="!formConsulta.droga || unidadesDisponibles.length === 0"
          >
            <option *ngFor="let cantidad of unidadesDisponibles" [value]="cantidad">
              {{ cantidad }}
            </option>
          </select>
        
          <!-- Mostrar el mensaje solo si hay una droga seleccionada -->
          <p 
          *ngIf="formConsulta.droga?.id && unidadesDisponibles.length === 0" 
          class="text-danger">
          No hay unidades disponibles para esta droga.
        </p>
        </div>        

        <button
          id="botonAgregar"
          type="submit"
          class="btn btn-dark"
          [disabled]="!tratamientoForm.form.valid"
        >
          Agregar
        </button>
      </form>
    </div>
  </div>
</main>
