<div id="footer">
  <div id="contact">
    <p>Contáctanos:</p>
    <a href="https://accounts.google.com/" target="_blank">
      <p>dogdog&#64;gmail.com</p>
    </a>

    <a href="https://web.whatsapp.com/" target="_blank">
      <p>+57 301 123 4567</p>
    </a>
  </div>
  <img
    src="../assets/images/fotoFooter-removebg-preview.png"
    alt="foto"
    class="fotoFooter"
  />
  <div id="social">
    <a href="https://www.facebook.com" target="_blank">
      <img
        src="../assets/images/facebook-fb-social-icon-svgrepo-com.svg"
        height="25px"
        alt="LogoFacebook"
        class="logos"
      />
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <img
        src="../assets/images/instagram-socials-social-media-icon-svgrepo-com.svg"
        height="25px"
        alt="LogoInstagram"
        class="logos"
      />
    </a>
    <a href="https://web.whatsapp.com/" target="_blank">
      <img
        src="../assets/images/whats-app-whatsapp-whatsapp-icon-svgrepo-com.svg"
        height="25px"
        alt="LogoX"
        class="logos"
      />
    </a>
  </div>
</div>
