<header>
  <img src="assets/images/LogoFin.png" alt="" />
  <ul>
    <li><a routerLink="/login">Cerrar sesión</a></li>
  </ul>
</header>

<main class="main">
  <section id="cuadro">
    <h1>Administración</h1>
    <div class="btn-container">
      <button
        type="button"
        id="btnVets"
        class="btn btn-primary btn-lg btn-block"
        onclick="window.location.href = 'veterinarios';"
      >
        Gestionar veterinarios
      </button>

      <button
        type="button"
        id="btnNegocio"
        class="btn btn-secondary btn-lg btn-block"
        onclick="window.location.href = '/admin/negocio';"
      >
        Análisis del negocio
      </button>
    </div>
  </section>
</main>
