<header>
  <img src="assets/images/LogoFin.png" alt="Logo" />
  <ul>
    <li><a routerLink="/veterinario">Inicio</a></li>
  </ul>
</header>

<main class="inicio">
  <div class="titulo">
    <h1>Clientes</h1>
    <a [routerLink]="['/add-cliente']" type="button">
      <img
        src="assets/images/agregar.png"
        alt="Add"
        height="60px"
        class="add"
      />
    </a>
  </div>

  <div class="container">
    <table
      class="table mx-auto text-center justify-content-center align-items-center"
    >
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Celular</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="justify-content-center"
          *ngFor="let cliente of listaClientes"
        >
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.cedula }}</td>
          <td>{{ cliente.celular }}</td>
          <td>{{ cliente.email }}</td>
          <td class="botones">
            <a
              class="btn btn-outline-secondary"
              [routerLink]="['/modificar-cliente', cliente.id]"
            >
              <img src="assets/images/editar.png" alt="Edit" height="40px" />
            </a>

            <a
              class="btn btn-outline-danger"
              (click)="eliminarCliente(cliente)"
            >
              <img
                src="assets/images/eliminar.png"
                alt="Delete"
                height="40px"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
