<header class="header">
  <img src="../assets/images/LogoFin.png" alt="Logo" />

  <ul>
    <li><a href="#quienesSomos">¿Quienes Somos?</a></li>
    <li><a href="#tranding">Servicios</a></li>
    <li><a href="#compromiso">Compromiso</a></li>
    <li><a href="#nuestrosClientes">Nuestros Clientes</a></li>
    <li><a [routerLink]="['/login']">Iniciar Sesión</a></li>
    <!-- Enlace de Angular -->
  </ul>
</header>

<section class="sec1"></section>

<section class="sec2" id="quienesSomos">
  <img src="../assets/images/LogoSec2.jpg" alt="Perro" class="imgSec2" />
  <div class="textSec2">
    <h2 class="titulos">¿Quiénes <span>Somos?</span></h2>
    <p>
      En DOG DOG, somos una clínica veterinaria dedicada exclusivamente al
      cuidado de perros. Nuestra pasión por estos increíbles compañeros de
      cuatro patas nos impulsa a ofrecer un servicio de la más alta calidad,
      centrado en la salud y el bienestar de tu mejor amigo.
    </p>
  </div>
</section>

<section id="tranding">
  <div class="container">
    <h3 class="text-center section-subheading">
      - Nuestros <span>Servicios</span> -
    </h3>
  </div>
  <div class="container">
    <div class="swiper tranding-slider">
      <div class="swiper-wrapper">
        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="../assets/images/ConsultaGeneral.jpg" alt="Tranding" />
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <h2 class="food-name">Consulta General</h2>
            </div>
          </div>
        </div>
        <!-- Repite para el resto de los servicios -->
      </div>
    </div>
  </div>
</section>

<section id="compromiso" class="sec2">
  <div class="textSec2">
    <h2 class="titulos">-Nuestro <span>Compromiso</span>-</h2>
    <p>
      En DOG DOG, creemos en una atención personalizada. Cada visita comienza
      con una conversación detallada para entender las necesidades específicas
      de tu mascota.
    </p>
  </div>
  <img src="../assets/images/LogoSec3.jpg" alt="Perro" class="imgSec2" />
</section>

<section class="testimonials" id="nuestrosClientes">
  <div class="textSecComents">
    <h2 class="titulos">-Nuestros <span>Clientes</span>-</h2>
  </div>

  <div class="testimonial-box-container">
    <!-- Testimonio 1 -->
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="../assets/images/perrodueño1.jpg" alt="Gabriel Mora" />
          </div>
          <div class="name-user">
            <strong>Gabriel Mora</strong>
            <span>Bongo</span>
          </div>
        </div>
      </div>
      <div class="client-comment">
        <p>
          "La atención fue excelente, el personal es amable y profesional. Mi
          mascota recibió un tratamiento efectivo y cariñoso. ¡Recomendado!"
        </p>
      </div>
    </div>

    <!-- Testimonio 2 -->
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="../assets/images/eladioKemba.jpg" alt="Eladio Carrion" />
          </div>
          <div class="name-user">
            <strong>Eladio Carrion</strong>
            <span>Kemba</span>
          </div>
        </div>
      </div>
      <div class="client-comment">
        <p>
          "Traje a mi perrita Kemba para un chequeo general, y el personal fue
          increíblemente amable y profesional. Además, las instalaciones están
          muy limpias y bien equipadas."
        </p>
      </div>
    </div>

    <!-- Testimonio 3 -->
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="../assets/images/perrodueño3.jpeg" alt="Benito Antonio" />
          </div>
          <div class="name-user">
            <strong>Benito Antonio</strong>
            <span>Hoshi</span>
          </div>
        </div>
      </div>
      <div class="client-comment">
        <p>
          "Llevé a mi perro, Hoshi, para un problema de piel y el diagnóstico y
          tratamiento fueron rápidos y efectivos. El personal es muy atento y se
          nota que realmente les importa el bienestar de los animales."
        </p>
      </div>
    </div>

    <!-- Testimonio 4 -->
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="../assets/images/perrodueño4.jpg" alt="Diomedes Diaz" />
          </div>
          <div class="name-user">
            <strong>Diomedes Diaz</strong>
            <span>Firulais</span>
          </div>
        </div>
      </div>
      <div class="client-comment">
        <p>
          "No puedo agradecer lo suficiente al equipo de DOG DOG por la
          increíble atención que le dieron a mi perro Max. ¡Recomiendo esta
          clínica sin dudarlo!"
        </p>
      </div>
    </div>

    <!-- Testimonio 5 -->
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="../assets/images/JuandaPerro.jpg" alt="Kaleth Morales" />
          </div>
          <div class="name-user">
            <strong>Kaleth Morales</strong>
            <span>Pancho</span>
          </div>
        </div>
      </div>
      <div class="client-comment">
        <p>
          "Buena atención y precios justos. Me gusta que tienen un área de
          espera cómoda y los tiempos de espera no son largos. Volvería sin
          dudarlo."
        </p>
      </div>
    </div>

    <!-- Testimonio 6 -->
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img
              src="../assets/images/perrodueño2.jpg"
              alt="Silvestre Dangond"
            />
          </div>
          <div class="name-user">
            <strong>Silvestre Dangond</strong>
            <span>Dante</span>
          </div>
        </div>
      </div>
      <div class="client-comment">
        <p>
          "¡Excelente servicio! El personal es muy amable y realmente se
          preocupan por nuestras mascotas. Mi perrita salió feliz y bien
          atendida. Totalmente recomendados."
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Incluir el componente de footer -->
<app-footer></app-footer>