html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #064469, #5790ab, #74aabf);
  }
  
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background: linear-gradient(to bottom, #064469, #54859a);
}
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #064469;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 15vh;
  }
  
  header img {
    height: 80%;
    margin-left: 20px;
  }
  
  header ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 80%;
  }
  
  header ul li {
    align-items: center;
    display: flex;
    margin: 5px;
    font-size: 18px;
    list-style-type: none;
  }
  
  header li a:hover {
    color: blue;
    text-decoration: underline;
    transform: scale(1.2);
  }
  
  a {
    margin: 5px;
    text-decoration: none;
    color: white;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  canvas {
    max-width: 100%;
    margin: 0 auto;
  }
  

.barras, .torta {
    display: flex;
    background-color: white;
    border-radius: 2%;
}