/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07456a;
  height: 100px;
}

header img {
  height: 80%;
}

header ul {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

header ul li {
  list-style: none;
  margin: 0 10px;
}

header li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

header li a:hover {
  color: lightblue;
  text-decoration: underline;
}

main {
  padding: 2%;
  background: linear-gradient(to bottom, #064469, #54859a);
}

.contenedor {
  background-color: rgb(237, 249, 255);
  padding: 2%;
  border-radius: 20px;
}

.card-hover:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.graficos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

#title {
  color: white;
  font-size: 90px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Styles for the Table Section */
.tabla-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.top-tratamientos {
  width: 100%;
  border-collapse: collapse;
}

.top-tratamientos th, .top-tratamientos td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.top-tratamientos th {
  background-color: #155274;
  color: white;
}

.top-tratamientos tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}