<header>
    <img src="assets/images/LogoFin.png" alt="Logo" />
    <ul>
        <li><a routerLink="/login">Cerrar Sesión</a></li>
    </ul>
</header>

<main>

    <div class="barras">
        <h2>Dashboard Administrador</h2>
            <div>
                <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend">
                </canvas>
            </div>
    </div>

    <div class="torta">
        <h2>Dashboard Administrador</h2>
        <div>
            <canvas baseChart
            [data]="pieChartData"
            [options]="pieChartOptions"
            >
            </canvas>
        </div>
    </div>
</main>