<header class="header">
  <img src="assets/images/LogoFin.png" alt="Logo" />
  <ul>
    <li><a routerLink="/login">Cerrar Sesión</a></li>
  </ul>
</header>

<main>
  <h1 class="tituloSeccion">
    Datos Personales <span *ngIf="cliente">{{ cliente.nombre }}</span>
  </h1>

  <table class="datosPersonales">
    <thead>
      <tr>
        <th class="headerTabla">Datos</th>
        <th class="headerTabla">Información Personal</th>
      </tr>
    </thead>
    <tbody *ngIf="cliente">
      <tr>
        <th class="contenidoIzq">Nombre</th>
        <td>{{ cliente.nombre }}</td>
      </tr>
      <tr>
        <th class="contenidoIzq">Cédula</th>
        <td>{{ cliente.cedula }}</td>
      </tr>
      <tr>
        <th class="contenidoIzq">Correo</th>
        <td>{{ cliente.email }}</td>
      </tr>
      <tr>
        <th class="contenidoIzq">Teléfono</th>
        <td>{{ cliente.celular }}</td>
      </tr>
    </tbody>
  </table>

  <div class="form-group">
    <label for="mascotaSelect" class="tituloSeccion"
      >Selecciona una mascota:</label
    >
    <select
      id="mascotaSelect"
      class="mascota-select form-control"
      (change)="mostrarMascota($event)"
    >
      <option value="">Seleccione una mascota</option>
      <option
        *ngFor="let mascota of cliente?.mascotas"
        [value]="mascota.id"
        id="seleccionMascota"
      >
        {{ mascota.nombre }}
      </option>
    </select>
  </div>

  <div class="datosMascotaSection" *ngIf="selectedMascota">
    <h2 class="tituloSeccion">Información de la Mascota Seleccionada</h2>
    <div class="mascota-info-container">
      <div class="mascota-img-container">
        <img
          [src]="selectedMascota.fotoURL"
          alt="Foto de la Mascota"
          class="mascota"
        />
      </div>
      <div class="mascota-datos-container">
        <table class="datosMascota">
          <thead>
            <tr>
              <th class="headerTabla">Datos</th>
              <th class="headerTabla">Información Personal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Nombre</th>
              <td>{{ selectedMascota.nombre }}</td>
            </tr>
            <tr>
              <th>Raza</th>
              <td>{{ selectedMascota.raza }}</td>
            </tr>
            <tr>
              <th>Edad</th>
              <td>{{ selectedMascota.edad }} años</td>
            </tr>
            <tr>
              <th>Peso</th>
              <td>{{ selectedMascota.peso }} Kg</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Sección de Consultas -->
    <div class="consultasMascotaSection">
      <h2 class="tituloSeccion">Consultas de la Mascota</h2>
      <ul *ngIf="consultas?.length; else noConsultas">
        <li *ngFor="let consulta of consultas" class="texto">
          <table class="datosTratamiento">
            <thead>
              <tr>
                <th class="headerTabla">Datos</th>
                <th class="headerTabla">Información Tratamiento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Fecha</th>
                <td>{{ consulta.fechaConsulta | date : "shortDate" }}</td>
              </tr>
              <tr>
                <th>Veterinario</th>
                <td>{{ consulta.veterinario?.nombre }}</td>
              </tr>
              <tr>
                <th>Droga</th>
                <td>{{ consulta.droga?.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
      <ng-template #noConsultas>
        <p class="texto">No hay consultas registradas para esta mascota.</p>
      </ng-template>
    </div>
  </div>
</main>
