/* General Styles */
html {
  min-height: 100%;
  position: relative;
  margin: 0;
}

body {
  margin: 0;
  padding-bottom: 120px;
  box-sizing: border-box;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155274;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

header img {
  height: 80%;
  margin-left: 20px;
}

header > ul {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

header ul li {
  align-items: center;
  display: flex;
  font-size: 18px;
  list-style-type: none;
  color: white;
}

header li a:hover {
  color: red;
  text-decoration: underline;
}

header a {
  padding: 3px;
  color: white;
  text-decoration: none;
}

/* Main Styles */
main {
  width: 100%;
  margin: 0;
  padding: 2%;
  background: linear-gradient(to bottom, #155274, #54859a);
}

/* Table Styles */
.datosPersonales {
  margin: 3% auto;
  width: 70%;
  border-collapse: collapse;
  font-size: 30px;
}

.headerTabla {
  background-color: #064469;
  color: white;
  text-align: center;
}

td, th {
  padding: 8px;
  text-align: center;
  border: 1px solid #000;
  font-size: 30px;
}

tr:nth-child(even) {
  background-color: #91cbe4;
}

tr:nth-child(odd) {
  background-color: #80c6e9;
}

.tituloSeccion {
  margin-left: 50px;
  font-size: 40px;
  color: white;
}

/* Mascota Section Styles */
.mascota-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.mascota-img-container {
  width: 40%;
  margin-right: 20px;
}

.mascota {
  width: 50%;
  height: auto;
  border-radius: 20px;
  margin-left: 25%;
  border: 2px solid black;
}

.mascota-datos-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datosMascotaSection {
  margin-top: 40px;
}

.consultasMascotaSection {
  margin-top: 20px;
}

/* Select Styles */
.mascota-select {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 50px;
}

.texto{
  margin-left: 50px;
  font-size: 25px;
  color: #064469;
}

.consultasMascotaSection ul {
  list-style-type: none;
}

.consultasMascotaSection{
  justify-content: center;
  align-items: center;
}

.datosTratamiento{
  width: 50%;
  border-collapse: collapse;
  font-size: 30px;
  margin: 1%;
}